@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
.rdp-weekday{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem; /* 6px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  box-shadow: 0 0 0 2px var(--your-ring-color); /* Focus-visible ring */
  --tw-ring-offset-color: var(--your-background-offset-color); /* Background offset */
  --tw-ring-offset-width: 2px;
  pointer-events: none; /* Disabled state */
  opacity: 0.5; /* Disabled state */
  background-color: var(--your-accent-color); /* Hover background color */
  color: var(--your-accent-foreground-color); /* Hover text color */
  height: 2.25rem; /* 36px */
  width: 2.25rem; /* 36px */
  padding: 0;
  font-weight: 400;
  opacity: 1; /* For aria-selected="true" */
  
}